.image {
    max-width: 100%;
    -webkit-box-shadow: 0 0 39px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 39px -4px rgba(0,0,0,0.75);
    box-shadow: 0 0 39px -4px rgba(0,0,0,0.75);
}

.round-corners {
    border-radius: 25px;
}

.text-and-translation {
    display: flex;
}

.left {
    flex: 1 0 50%;
    font-size: smaller;
    font-weight: 300;
}

.right {
    flex: 1 0 50%;
    font-size: smaller;
}

h5 {
    font-family: cursive;
}
