.app {
  color: white;
  font-weight: bolder;
  font-family: monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1 0 auto;
  background: rgb(155, 142, 206);
  border-bottom: solid #51514f 1px;
  font-size: x-large;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}

.content {
  flex: 10 1 auto;
  background: linear-gradient(
    to bottom right,
    rgba(131, 96, 195, 0.8),
    rgba(126, 203, 178, 0.8)
  );
  overflow-y: scroll;
  font-size: xx-large;
}

.footer {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  background: rgb(151, 194, 197);
  border-top: solid #51514f 1px;
  font-size: medium;
  font-family: cursive;
  font-style: italic;
}
